<div class="pres-block" style="display: flex; flex-wrap: wrap">
  <div class="info" style="flex-grow: 1; min-width: 200px; flex-basis: 300px">
    {{ if .meetingurl }}
    <h2><a href="{{ .meetingurl }}">{{ .meeting }}</a></h2>
    {{ else }}
    <h2>{{ .meeting }}</h2>
    {{ end }} {{ if .url }}
    <h4><a href="{{ .url }}">{{ .title }}</a></h4>
    {{ else }}
    <h4>{{ .title }}</h4>
    {{ end }}
    <p>
      {{ dateFormat "Jan 2, 2006" .date }} {{ if .location }}
      <br /><em>{{ .location }}</em>
      {{ else }}
      <br /><em style="color: red">Virtual</em>
      {{ end }}
    </p>

    <ul>
      {{ range .notes }}
      <li>{{ . | markdownify }}</li>
      {{ end }} {{ range .links }}
      <li>{{ . | markdownify }}</li>
      {{ end }} {{ if .arxiv }}
      <li>
        <a href="http://arxiv.org/abs/arXiv:{{ .arxiv }}">arXiv:{{ .arxiv }}</a>
      </li>
      {{ end }} {{ if .inspire }}
      <li>
        <a href="http://inspirehep.net/record/{{ .inspire }}">Inspire HEP</a>
      </li>
      {{ end }} {{ if .doi }}
      <li><a href="https://doi.org/{{ .doi }}">DOI {{ .doi }}</a></li>
      {{ end }} {{ if .pdf }}
      <li><a href="{{ .pdf }}">Download paper</a></li>
      {{ end }}
    </ul>

    {{ if .binder }}
    <a href="{{ .binder }}"
      ><img
        src="https://mybinder.org/badge.svg"
        alt="Mybinder badge"
        style="display: inline"
    /></a>
    {{ end }}
  </div>

  {{ if .slideshare }}
  <div class="preview" style="width: 340px; height: 300px">
    <iframe
      src="//www.slideshare.net/slideshow/embed_code/key/{{ .slideshare }}"
      width="340"
      height="290"
      frameborder="0"
      marginwidth="0"
      marginheight="0"
      scrolling="no"
      style="
        border: 1px solid #ccc;
        border-width: 1px;
        margin-bottom: 5px;
        max-width: 100%;
      "
      allowfullscreen
    >
    </iframe>
  </div>
  {{ end }} {{ if .youtube }}
  <div class="preview" style="width: 340px; height: 200px">
    <iframe
      width="340"
      height="190"
      src="https://www.youtube.com/embed/{{ .youtube }}"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {{ end }}
</div>
